repos:
  - repo: local
    hooks:
      - id: black-diff
        name: black-diff
        entry: black
        language: system
        types_or:
          - python
          - pyi
        require_serial: true
        args:
          - "--diff"
          - "--color"
        verbose: true
      - id: black
        # https://github.com/psf/black
        name: black
        entry: black
        language: system
        types_or:
          - python
          - pyi
        require_serial: true
      - id: blacken-docs
        # https://github.com/asottile/blacken-docs
        name: blacken-docs
        entry: blacken-docs
        language: system
        files: '\.(rst|md|markdown|py|tex)$'
      - id: autoflake-diff
        name: autoflake-diff
        entry: autoflake
        language: system
        types:
          - python
        require_serial: true
        verbose: true
      - id: autoflake
        # https://github.com/PyCQA/autoflake
        name: autoflake
        entry: autoflake
        language: system
        types:
          - python
        require_serial: true
        args:
          - "--in-place"
      - id: autopep8-diff
        name: autopep8-diff
        entry: autopep8
        language: system
        types:
          - python
        args:
          - "--diff"
        verbose: true
      - id: autopep8
        # https://github.com/pre-commit/mirrors-autopep8
        name: autopep8
        entry: autopep8
        language: system
        types:
          - python
        args:
          - "--in-place"
      - id: isort-diff
        name: isort-diff
        entry: isort
        language: system
        require_serial: true
        types_or:
          - cython
          - pyi
          - python
        args:
          - '--diff'
          - '--filter-files'
        verbose: true
      - id: isort
        # https://github.com/PyCQA/isort
        name: isort
        entry: isort
        language: system
        require_serial: true
        types_or:
          - cython
          - pyi
          - python
        args:
          - '--filter-files'
      - id: pflake8
        # https://github.com/csachs/pyproject-flake8
        # Use csachs' one instead of PyCQA to use options in pyproject.toml
        name: pflake8
        entry: pflake8
        language: system
        types:
          - python
        require_serial: true
      - id: mypy
        # https://github.com/pre-commit/mirrors-mypy
        name: mypy
        entry: mypy
        language: system
        types_or:
          - python
          - pyi
        require_serial: true
        pass_filenames: false
      - id: bandit
        # https://github.com/PyCQA/bandit
        name: bandit
        entry: bandit
        language: system
        types:
          - python
        args:
          - "-c"
          - "pyproject.toml"
      - id: shellcheck
        # https://github.com/shellcheck-py/shellcheck-py
        name: shellcheck
        entry: shellcheck
        language: system
        types: [shell]
        require_serial: true
      - id: mdformat-check
        name: mdformat-check
        entry: mdformat
        language: system
        types: [markdown]
        args:
          - "--check"
      - id: mdformat
        name: mdformat
        entry: mdformat
        language: system
        types: [markdown]



  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-byte-order-marker
      - id: check-yaml
      - id: check-json
      - id: check-toml
      - id: check-case-conflict
      - id: check-merge-conflict
        args:
          - "--assume-in-merge"
      - id: end-of-file-fixer
      - id: fix-byte-order-marker
      - id: mixed-line-ending
      - id: trailing-whitespace
      - id: debug-statements
      - id: detect-private-key
      - id: detect-aws-credentials
        args:
          - "--allow-missing-credentials"
