[tool.poetry]
name = "brew-file"
version = "8.5.12"
description = "Brewfile manager for Homebrew"
authors = ["rcmdnk <rcmdnk@gmail.com>"]

[tool.poetry.dependencies]
python = ">=3.10,<3.11"

[tool.poetry.group.dev.dependencies]
pytest = "7.2.1"
pytest-cov = "4.0.0"
pytest-xdist = "3.1.0"
pytest-benchmark = "4.0.0"
pre-commit = "2.21.0"
black = "22.12.0"
blacken-docs = "1.13.0"
flake8-pyproject = "1.2.2"
flake8-bugbear = "23.1.20"
flake8-docstrings = "1.7.0"
flake8-debugger = "4.1.2"
pep8-naming = "0.13.3"
flake8-comprehensions = "3.10.1"
pycodestyle = "2.10.0"
flake8-string-format = "0.3.0"
flake8-rst-docstrings = "0.3.0"
#flake8-print = "5.0.0"
flake8-executable = "2.1.3"
flake8-builtins = "2.1.0"
flake8-annotations-complexity = "0.0.7"
flake8-pep3101 = "^2.0.0"
autoflake = "2.0.0"
autopep8 = "2.0.1"
isort = "5.12.0"
mypy = "0.991"
bandit = {extras = ["toml"], version = "1.7.4"}
pre-commit-hooks = "4.4.0"
shellcheck-py = "0.9.0.2"
mdformat = "0.7.16"
mdformat-gfm = "0.3.5"
mdformat-frontmatter = "0.4.1"
mdformat-footnote = "0.1.1"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.poetry.scripts]
brew-file = "brew_file.main:main"

[tool.pytest.ini_options]
addopts = "-n auto"
testpaths = ["tests",]

[tool.black]
line-length = 79

[tool.autoflake]
remove-all-unused-imports = true
expand-star-imports = true
remove-duplicate-keys = true
remove-unused-variables = true

[tool.autopep8]
ignore = "E203,E501,W503"
recursive = true
aggressive = 3

[tool.isort]
profile = "black"
line_length = 79

[tool.flake8]
# E203 is not PEP8 compliant and black insert space around slice: [Frequently Asked Questions - Black 22.12.0 documentation](https://black.readthedocs.io/en/stable/faq.html#why-are-flake8-s-e203-and-w503-violated)
# E501: Line too long. Disable it to allow long lines of comments and print lines which black allows.
# W503 is the counter part of W504, which follows current PEP8: [Line break occurred before a binary operator (W503)](https://www.flake8rules.com/rules/W503.html)
# D100~D106: Missing docstrings other than class (D101)
# D401: First line should be in imperative mood
ignore = "E203,E501,W503,D100,D102,D103,D104,D105,D106,D401"
#max-complexity = 10
docstring-convention = "numpy"

[tool.bandit]
exclude_dirs = ["tests"]
# B404: import subprocess -> until fixing w/o subprocess
# B603: subprocess_without_shell_equals_true-> until fixing w/o subprocess, difficult to manage multi arguments especially for arguments including quotes with shell=True
# B607: start_process_with_partial_path: until fixing w/o subprocess, difficult to run fixed path on multi environments
skips = ["B404", "B603", "B607"]

[tool.mypy]
files = ["bin/brew-file", "src/**/*.py"]
#strict = true
#warn_return_any = false
ignore_missing_imports = true
scripts_are_modules = true
warn_unused_ignores = true
warn_redundant_casts = true
