---
name: tmate
permissions:
  contents: read

on:
  workflow_dispatch:
    inputs:
      os:
        description: 'os'
        type: choice
        required: false
        default: "macos-latest"
        options:
          - "macos-latest"
          - "ubuntu-latest"
      py_ver:
        description: 'py ver'
        type: choice
        required: false
        default: "3.9"
        options:
          - "3.12"
          - "3.11"
          - "3.10"
          - "3.9"
jobs:
  tmate:
    runs-on: ${{ inputs.os }}
    steps:
      - uses: actions/checkout@v5
        with:
          persist-credentials: false
          fetch-depth: 0
      - name: Setup Homebrew
        uses: ./.github/actions/setup-homebrew
      - name: Set pseudo git user
        run: |
          git config --global user.name "runner"
          git config --global user.email "runner@localhost"
      - uses: actions/setup-python@v6
        with:
          python-version: ${{ inputs.py_ver }}
      - name: Install uv
        uses: astral-sh/setup-uv@v6
        with:
          enable-cache: true
          cache-dependency-glob: |
            **/pyproject.toml
      - name: Set up environment
        run: |
          uv python pin ${{ inputs.py_ver }}
          uv sync
      - name: Setup tmate session
        uses: mxschmitt/action-tmate@v3
